<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDEDXtYldUKPtBxA8q1hv_PjkfwvyPBKcE</string>
	<key>GCM_SENDER_ID</key>
	<string>339055285395</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>djordjear.AirBnB-Clone</string>
	<key>PROJECT_ID</key>
	<string>airbnb-clone-d4be2</string>
	<key>STORAGE_BUCKET</key>
	<string>airbnb-clone-d4be2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:339055285395:ios:c363bbd8ba1ea8312c6966</string>
</dict>
</plist>